/* ---------- MAIN ---------- */

header {
	padding-bottom:50px;
}

body {
	font-family: 'Helvetica';

  padding: 30px 20px 0px 20px;
}
body#page1{background-color:#000;}
body#page2{background-color:#ffffff;}

p{	
	font-size: 19px;
	line-height:22px;}


article {
	padding: 0px 30px 0px 30px;
	padding-bottom:100px;
}

.textwrapper {
	padding-top:50px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

}


footer {
	color:grey;
	font-size:11px !important;
}


/* ---------- NAVBAR ---------- */

.navbar {
	background-color:white;
	padding:10px 10px 10px 10px;
	margin-right:30px;
	right:0;
	position:fixed;
  box-shadow: 1px 1px 10px black;
}

.navbar a {
    color: black;
	font-size:20px;
	text-decoration:none;
	cursor:e-resize;
}

.navbar a:hover {
    color: blue;
	font-size:20px;
	text-decoration:none;
}

.backtotop {
	background-color:white;
	padding:10px 10px 10px 10px;
	margin-right:30px;
	bottom:0;
	right:0;
	position:fixed;
	box-shadow: 1px 1px 10px black;
}


.backtotop a{
	text-decoration:none;
	color:black;
	font-size:34px;
}
.backtotop a:hover {
color:blue;
}


/* ---------- TYPOGRAPHY ---------- */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.textwrapper a {
	font-size:inherit !important;
}

.caption {
	font-size:12px !important;
	line-height:13.5px !important;
	font-style:italic;
	padding-left:20px;
	color:grey;
}

a, a:hover, a:visited, a:active {

}

h1	{
	font-family: 'Helvetica';
	font-weight:normal;
	font-size:66px;
	line-height:67px;
	letter-spacing:-1px;
}

h1 a {
	text-decoration: line-through;
}

h2 {
	font-size: 25px;
	padding-top:20px;
	font-weight: bold;
}

h3{
	font-weight:normal;
	padding-top:35px;
	font-size:32px;
	text-align:center;
}

h3 a {
	color: black;
}

h4 {
	font-weight:normal;
	padding-top:35px;
	font-size:32px;
	text-align:left;

}

h5	{
	font-family: 'Helvetica';
	font-weight:normal;
	font-size:66px;
	line-height:67px;
	letter-spacing:-1px;
	color: #ffffff;
	text-transform: uppercase;
}
h6{
	font-weight:normal;
	padding-top:35px;
	font-size:32px;
	text-align:left;
}

h1 a{
	text-decoration:none;
	color:black;
}

h1 a:visited{
	text-decoration:none;
	color:black;
}

h5 a:hover{
	text-decoration:none;
	color:white;
}

h5 a{
	text-decoration:none;
	color:white;
}

h5 a:visited{
	text-decoration:none;
	color:white;
}

h5 a:hover{
	text-decoration:none;
	color:white;
}

/* ---------- IMAGE HOVER CSS ---------- */
.grid {
    max-width: 95%;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
 
.grid li {
    display: inline-block;
    width: 100%;
    margin: 0;
    text-align: left;
    position: relative;
}

.grid figure {
    margin: 0;
    position: relative;
}

.grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.grid figcaption {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    padding: 5px;
    background: #2c3f52;
    color: #ed4e6e;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}
 
.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}

/* ---------- IMAGE HOVER EFFECT ---------- */

.cs-style-3 figure {
    overflow: hidden;
}

.cs-style-3 figure img {
    transition: transform 0.4s;
}
 
.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
    transform: translateY(-50px);
}

.cs-style-3 figcaption {
    height: 100px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* ---------- LIST ---------- */

ul {
		font-style:italic;
    display: block;
    list-style-type: square;
		list-style-position: inside;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
}

dt{
	padding-top:20px;
	font-size:28px;
	/* font-weight:bold; */
	padding-top:20px;
	font-size:28px;
	text-transform: uppercase;
	color: black;
}

dt a{
	color: black;
	text-decoration: none;
}


/* This makes the images scale to the full width of the page */
img {
    width: 100%;
    height: auto;
}

/* ---------- INDEX List box ---------- */


#terminologyDIV {
    width: 400px;
    height: 200px;
		padding: 2px 15px 30px 2px;
		background-color: white;
    color: white;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    90% {box-shadow: 1px 1px 40px white;}
}

/* Standard syntax */
@keyframes mymove {
    90% {box-shadow: 1px 1px 40px white;}
}

#sourcesDIV {
		width: 1000px;
		height: 645px;
		padding: 10px 15px 150px 40px;
		background-color: white;
		color: black;
		-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
		animation: mymove 5s infinite;
		margin-bottom: 50px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
		90% {box-shadow: 1px 1px 40px white;}
}

/* Standard syntax */
@keyframes mymove {
		90% {box-shadow: 1px 1px 40px white;}
}


#contentDIV {
		padding: 10px 15px 15px 30px;
		background-color: white;
		color: black;
		width:40%;
		-webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
		animation: mymove 5s infinite;
		margin-bottom: 50px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
		90% {box-shadow: 1px 1px 40px white;}
}

/* Standard syntax */
@keyframes mymove {
		90% {box-shadow: 1px 1px 40px white;}
}


/* ---------- MEDIA QUERIES ---------- */

/* MEDIA LEVEL#1 - SMALL*/
 @media screen and (max-width: 480px) {

#contentDIV{
	width:auto;
}
#sourcesDIV{
	width:auto;
}

	.textwrapper {
	    -webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	 	column-gap: 40px;
	 }

	.navbar { margin:-25px 10px 0px 0px;padding:5px 10px 5px 10px;}
	.navbar a {font-size:14px !important;}
 	article { padding:0px 0px 50px 0px; }

    h1 { font-size: 53px !important; line-height:55px !important; }
    h2 { font-size: 19px !important; font-weight:800 !important; }
    h3 { font-size: 19px !important; }
    p {  font-size: 15px !important;line-height: 17px !important;}
		ul { font-size: 15px; line-height: 17px !important;}
	h5 { font-size: 40px !important; line-height:43px !important; }
	h6 { font-size: 19px !important; }

.backtotop { margin:-25px 10px 0px 0px;padding:5px 10px 5px 10px;}
.backtotop a {font-size:18px !important;}


}


/* MEDIA LEVEL#2 - MEDIUM*/
@media screen and (min-width: 480px) and (max-width: 640px) {

#contentDIV{
	width:auto;
}
#sourcesDIV{
	width:auto;
}

	.textwrapper {
	    -webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
		column-gap: 40px;
	}

 	article { padding:20px 0px 50px 0px; }

	h1 { font-size: 60px !important; }
 	h2 { font-size: 22px !important; }
 	h3 { font-size: 22px !important; }
 	p { font-size: 16px !important; line-height: 18px !important; }
	ul { font-size:16px; line-height: 18px !important;}
	h5 { font-size: 60px !important; }
	h6 { font-size: 22px !important; }
	
	.backtotop { margin:-25px 10px 0px 0px;padding:5px 10px 5px 10px;}
	.backtotop a {font-size:20px !important;}

}

/* MEDIA LEVEL#3 - LARGE*/
@media screen and (min-width: 640px) and (max-width: 1024px) {

#contentDIV{
	width:auto;
}
#sourcesDIV{
	width:auto;
}

	.textwrapper {
	    -webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
		column-gap: 40px;
	}

 	article { padding:0px 0px 50px 0px; }

	h1 { font-size: 66px !important; }
 	h2 { font-size: 22px !important; }
 	h3 { font-size: 22px !important; }
 	p { font-size: 17px !important; line-height: 19px !important; }
	ul { font-size:17px;line-height: 19px !important;}
	h5 { font-size: 66px !important; }
	h6 { font-size: 22px !important; }

.backtotop { margin:-25px 30px 0px 0px;padding:5px 10px 5px 10px;}
.backtotop a {font-size:22px !important;}

}


/* PRINT ONLY */

@media print {
 /* All your print styles go here */
.header, .hide { visibility: hidden }

body {
	color:black !important;
	font-family: 'Helvetica' !important;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count: 2;
  column-gap: 2em;
  column-rule: thin solid black;
	margin:0cm 1cm 0cm 1cm;
 }



/* PRINT ONLY - FONT STYLES */
	h1 {
		column-span: all
		break-before: column;
		break-inside: avoid-column;
		break-after: avoid-column;
		font-size: 70px !important;
		line-height:65px;
		}

	h2 {
		font-size: 16pt !important;
		text-align:left;
		color: black !important;
		}

	h3 {
		font-size: 22pt !important;
		text-align:center;
		page-break-after: avoid;
		page-break-before: always;
		color: black !important;
		
		}

	p {
		font-size: 14pt !important;
		line-height: 18pt !important;
		orphans:3;
    widows:3;}

	ul {
		font-size:17px;
		line-height: 19px !important;
		width:50%;
		}


.caption {
	font-size:8pt !important;
	line-height:9pt !important;
	font-style:italic;
	padding-left:20px;
	color:grey;
	width:50%;
	}

/* IMAGE */
	img {
	width: 6cm;
	page-break-inside:avoid;
  page-break-after:avoid;
}


/* HIDDEN */

footer {
	visibility:hidden;
}

.navbar, #header, #footer, .footer, .nav {
		display: none !important;
}

.backtotop { margin:-25px 30px 0px 0px;padding:5px 10px 5px 10px; display:none;}
.backtotop a {font-size:22px !important;display:none;}

}
