/* ---------- MAIN ---------- */

header {
	padding-bottom:50px;
}

body {
	background-color:white;
	font-family: 'Helvetica';
    font-size: 20px;
    padding: 30px 20px 0px 20px;
}

p{	line-height:25px;}


article {
	padding: 20px 30px 0px 30px;
}

.textwrapper {
	padding-top:50px;
    -webkit-column-count: 3; 
    -moz-column-count: 3; 
    column-count: 3;
	
}


footer {
	color:grey;
	font-size:11px !important;
}


/* ---------- NAVBAR ---------- */

.navbar {
	background-color:white;
	padding:10px 10px 10px 10px;
	margin-right:30px;
	right:0;
	position:fixed;
    box-shadow: 1px 1px 10px black;
}

.navbar a {
    color: black;
	font-size:20px;
	text-decoration:none;
	cursor:e-resize;
}

.navbar a:hover {
    color: blue;
	font-size:20px;
	text-decoration:none;
}



/* ---------- TYPOGRAPHY ---------- */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.textwrapper a {
	color:blue !important;
	font-size:inherit !important;
}

.caption {
	font-size:12px !important;
	font-style:italic;
	padding-left:20px;
	color:grey;
}

a, a:hover, a:visited, a:active {

}

h1	{
	font-family: 'Helvetica';
	font-weight:normal;
	font-size:66px;
	line-height:67px;
	letter-spacing:-1px;
}

h1 a {
	text-decoration: line-through;
}

h2 {
	padding-top:10px;
	font-size:28px;
}



/* ---------- LIST ---------- */

li {
    list-style: none;
    margin-bottom: 4px;
}

ul, ol {
    margin-top: 0;
    padding-left: 0;
}


/* This makes the images scale to the full width of the page */
img {
    width: 100%;
    height: auto;
}


/* ---------- MEDIA QUERIES ---------- */

@media print {
	
    body {
		color:black !important;
		font-family: 'Helvetica' !important;
    }

    .navbar {
        visibility: hidden;
    }
	
	.textwrapper {
	    -webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
		column-gap: 40em;
	}
	
	img { }
	
	h1 { font-size: 34pt !important; line-height:38pt !important; }
 	h2 { font-size: 20pt !important; }
 	h3 { font-size: 14pt !important; }
 	p { font-size: 14pt !important; line-height: 16pt !important; }
	ul { font-size:14px;}
}

@page :first {
  margin-top: 8cm;
}


/* MEDIA LEVEL#1 - SMALL*/
 @media screen and (max-width: 480px) {
	 
	.textwrapper {
	    -webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	 	column-gap: 40px;
	 }
   
	.navbar { margin:-25px 10px 0px 0px;padding:5px 10px 5px 10px;}
	.navbar a {font-size:12px !important;}
 	article { padding:20px 0px 0px 0px; }
     
    h1 { font-size: 34px; line-height:35px; !important; }
    h2 { font-size: 16px !important; }
    h3 { font-size: 18px !important; }
    p {  font-size: 12.5px !important;line-height: 1.2em !important;}
	ul { font-size:12.5px;}
	
	
	 
}


/* MEDIA LEVEL#2 - MEDIUM*/
@media screen and (min-width: 480px) and (max-width: 640px) {
	
	.textwrapper {
	    -webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
		column-gap: 40px;
	}
	
 	article { padding:20px 0px 0px 0px; }

	h1 { font-size: 38px !important; line-height:38px !important; }
 	h2 { font-size: 20px !important; }
 	h3 { font-size: 18px !important; }
 	p { font-size: 14px !important; line-height: 16px !important; }
	ul { font-size:14px;}
	
} 

/* MEDIA LEVEL#3 - LARGE*/
@media screen and (min-width: 640px) and (max-width: 1024px) {
	
	.textwrapper {
	    -webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
		column-gap: 40px;
	}
	
 	article { padding:40px 0px 0px 0px; }

	h1 { font-size: 44px !important; line-height:45px; }
 	h2 { font-size: 20px !important; }
 	h3 { font-size: 18px !important; }
 	p { font-size: 16px !important; line-height: 18px !important; }
	ul { font-size:16px;}
	
} 


/* PRINT ONLY */



